@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
#Portada{
    width: 100%;
    height: 20%;
}
#logoblanco{
    filter: invert();
}
body{
    min-height: 100%;
}
.error{
width: 100%;
}
.logo{
font-family: 'Changa One', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Unbounded', cursive
}
@media (max-width:412px){
    #telefono{
    width: 100%;
    }
}